<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-box text-center">
          <h1>Arabica és Robusta.. a megfelelő arányban</h1>
          <h3>Szeretnéd érezni egy igazi olasz kávézó ízeit, ráadásul az otthonodban? Ébredj a frissen őrölt kávé terjengő illatával, ami egy csapásra csodássá teszi a reggeled!</h3>
          <div class="kozepvonal col"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="text-box text-center">
          <h3>Egy találkozás a barátokkal? Mutasd meg nekik a hamisíthatatlan Fall'armo élményt, melyben biztos lehetsz, hogy sosem okoz csalódást.</h3>
          <img src="../../assets/resources/html_img/kavescsesze.png" class="kavescsesze" alt="Kávéscsésze">
          <div class="kozepvonalSpec col"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 text-center">
          <img src="../../assets/resources/html_img/Tradizionale.png" class="m-auto kaveCsomag" alt="Tradizionale">
          <h4> - Tradizionale - </h4>
          <p>A hagyomány mindenek előtt. Cégünk 150 éves tapasztalata köszön vissza a legrégebb óta forgalmazott 100% Arabica kávénkban.</p>
      </div>
      <div class="col-lg-4 text-center">
          <img src="../../assets/resources/html_img/Nero.png" class="m-auto kaveCsomag" alt="Nero">
          <h4 style="color: #8b0000;"> - Nero - </h4>
          <p>Egy kiváló, erős eszpresszóra vágysz? A testes és sötét pörkölésű Nerot Neked találtuk ki a maga 40 - 60%-os Arabica / Robusta szemek arányával.</p>
      </div>
      <div class="col-lg-4 text-center">
          <img src="../../assets/resources/html_img/Brasiliano.png" class="m-auto kaveCsomag" alt="Brasiliano">
          <h4 style="color: #009900;"> - Brasiliano - </h4>
          <p>Brazília legjava. Beszállítóinktól közvetlenül Brazíliából beszerzett, könnyen iható, kizárólag világosan pörkölt Arabica szemekből.</p>
      </div>
    </div>

    <div class="row ">
      <div class="col-lg-4 text-center">
          <img src="../../assets/resources/html_img/Cioccolato.png" class="m-auto kaveCsomag" alt="Cioccolato">
          <h4 style="color: #664833;"> - Cioccolato - </h4>
          <p>Mindig is odavoltál a csokoládéért? A 70 - 30 Arabica / Robusta keveréket tökéletesen egészíti ki a hozzácsempészett étcsoki.</p>
      </div>
      <div class="col-lg-4 text-center">
          <img src="../../assets/resources/html_img/Fruttato.png" class="m-auto kaveCsomag" alt="Fruttato">
          <h4 style="color: #0000e6;"> - Fruttato - </h4>
          <p>Ha nyár, akkor gyümölcsök. Nyitott vagy egy édesebb, kandírozott citromra emlékeztető, intenzív aromára? Válaszd a Fruttato-t!</p>
      </div>
      <div class="col-lg-4 text-center">
          <img src="../../assets/resources/html_img/Cremoso.png" class="m-auto kaveCsomag" alt="Cremoso">
          <h4 style="color: #c3a188;"> - Cremoso - </h4>
          <p>Bársonyos, aromákkal teli, közepesen pörkölt Arabica kávé, mely igazán krémes világba repít. Kényeztesd érzékeidet habos csodánkkal.</p>
      </div>   
    </div>

    <div class="row">
      <div class="col">
          <div class="kozepvonal col"></div>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h3>Lepd meg magad kávéink valamelyikével!</h3>
        <button type="button" class="btn" routerLink="/product">Irány a vásárlás!</button>
      </div>
    </div>
  </div>
</section>
